html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}body{font-family:'Montserrat', sans-serif;background-color:#191c22;overflow-x:hidden;position:relative}a{text-decoration:none;color:white;font-size:14px}a:hover{color:white;text-decoration:none}h1{color:white;font-size:22px}h2{color:white;margin-top:3px}h4{color:white;margin-top:6px;font-size:14px}li{list-style:none}.navbar{display:none}.navbar-light .navbar-toggler {
    color: white !important;
    border-color: white !important;
}

.navbar-toggler {
    background-color: white !important
}.bg-light{background-color:#191c22 !important}.navbar-light .navbar-nav .nav-link{color:white; padding-top:10px}.navbar-light .navbar-nav .nav-link:hover{color:white}.navbar-light .navbar-brand{color:white; font-size:18px}.navbar-light .navbar-brand:hover{color:white}side-bar{height:100%;max-width:10%}side-bar .bar{position:fixed;width:10%;z-index:9999;height:100%;background-color:#191c22}side-bar .bar p{color:aliceblue;transform:rotate(270deg);margin-top:105px}side-bar .bar hr{background-color:white;transform:rotate(270deg);width:40px;position:relative;left:12px;top:25px}side-bar .bar .hr2{background-color:white;transform:rotate(270deg);width:35px;position:relative;left:17px;top:0px}#header .home{position:relative;left:10%;top:0;width:90%;height:647px;background-image:url(../images/b1.jpg);opacity:0.7;background-size:cover}#header .content-cover{position:absolute;top:200px;text-align:center;width:100%}#header .content-cover h1{letter-spacing:1px;font-size:30px;color:white;font-weight:bold;color:white;font-size:35px}#header .words{position:absolute;text-align:center;width:100%;top:250px;padding:3px 0}#header .words p{color:white;font-size:20px}#header .words button{display:table;margin:auto;margin-top:20px;border-radius:0}#header .job{position:absolute;border:2px solid white;width:110px;height:100px;top:10px;left:69px;z-index:9999}#header .job h1{font-size:30px;color:white;font-weight:bold;font-size:55px;margin-top:20px;text-align:center}@media (max-width: 500px){#header .words{padding:40px}}@media (max-width: 575px){.navbar{display:flex}side-bar{display:none}#header .home{width:100%;left:0}#header .job{display:none}#header .print3{display:none}#header .print33{display:none}}@media (min-width: 576px) and (max-width: 767px){.navbar{display:flex}side-bar{display:none}#header .home{width:100%;left:0}#header .job{display:none}#header .print3{display:none}#header .print33{display:none}}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("../images/Ripple-1s-200px.apng");
  background-repeat: no-repeat;
  background-position: center;
}

#info {
    display: table;
    margin: auto;
    height: 100%;
}

#info .me {
     color: white;
     margin: 15px 5px;
     padding: 2px;
    } 
    
    .icons {    
        font-size: 2em;
        color: black;
        transition: all 2s;
}
    .icons:hover {
         transform: rotate(-360deg);
}
        



