@media (max-width: 500px) {

    #header {
        .words {
            padding: 40px;
        }
    }
    
}




// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {
    .navbar {
        display: flex;
    }
    
    side-bar {
        display: none;
    }
    
    #header {
    
            .home {
                width: 100%;
                left: 0;
        }        
            .job {
                display: none;
        }
            .print3 {
               display: none;
        }
        
            .print33 {
            display: none;
        }
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px)  {
    .navbar {
        display: flex;
    }
    
    side-bar {
        display: none;
    }
    
    #header {
    
            .home {
                width: 100%;
                left: 0;
        }        
            .job {
                display: none;
        }
            .print3 {
               display: none;
        }
        
            .print33 {
            display: none;
        }
    }    
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px)  {
    
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px)  {

}