// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    
    body {
        background-color: #737b86;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {  }


// Large devices (desktops, 992px and up)
@media (max-width: 1199.98px) { 

    .sidebar {
        display: none;
    }
    
    .wrapper {
        grid-template-columns: 1fr;
        img {
            width: 80%;
        }
    }

}


// Medium devices (tablets, 768px and up)
@media (max-width: 991.98px) {  
    .wrapper {
        grid-template-columns: 1fr;
        img {
            width: 100%;
        }
    }
    
}
